<% include partials/header %>

<h1>Welcome to the homepage!!</h1>

<button type="button" name="friends">Friends Page</button>
<button type="button" name="posts">Posts Page</button>

<% include partials/footer %>
