<%include partials/header %>
<h1>"You fell in love with: <%= thingVar.toUpperCase() %>"</h1>
<% if(thingVar.toLowerCase() === 'rusty') { %>
  <p>Good choice,Rusty is the best</p>
<% } else{ %>
  <p>Bad choice, you should have said Rusty</p>
<% } %>

<p>P.S. THIS IS COMING FROM THE love.ejs file</p>

<%include partials/footer %>

<!-- <%= %> used when JS logic return value is to be added to the HTML
<% %> used when using JS logic only not rendered as HTML -->
